<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
	    <label for="username">Введите через пробел данные  в следующем порядке Плотность. кг/м3,
            Модуль упругости. ГПа,
            Количество отвердителя. м.%,
            Содержание эпоксидных групп.%_2,
            Температура вспышки. С_2,
            Поверхностная плотность. г/м2,
            Потребление смолы. г/м2,
            Угол нашивки. град,
            Шаг нашивки,
            Плотность нашивки </label>
	    <input type="text" name="username">
        </p>
	<p>
	    <input type="submit">
	</p>
    </form>

</body>
</html>